{% extends 'report.html' %}
{% block header %}
  <h1>Lista członków {{ report.info.institution }}</h1>
{% endblock %}

{% block body %}
  <table repeat="1">
    <thead>
      <tr>
        {% if report.page.withCounterColumn %}
          <th class="lpRow">LP</th>
        {% endif %}
        {% for label in report.data.labels %}
          <th>{{ label }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% if report.data.rows %}
        {% for row in report.data.rows %}
          <tr>
            {% if report.page.withCounterColumn %}
              <td class="lpRow">{{ forloop.counter }}</td>
            {% endif %}
            {% for cell in row %}
              <td>{{ cell }}</td>
            {% endfor %}
          </tr>
        {% endfor %}
      {% endif %}
    </tbody>
    <tfoot>
      <tr>
        <th colspan="{{ report.data.columnsCount }}">Wierszy: {{ report.data.rows|length }}</th>
      </tr>
    </tfoot>
  </table>
{% endblock %}
